# git mailmap (see git-shortlog(1))
# format: New Name <new@address> Old Name <old@address>

Enno Boland <g@s01.de> Enno T. Boland <g@s01.de>
Enno Boland <g@s01.de> Enno T. Boland <gottox@noreply.codeberg.org>
Enno Boland <g@s01.de> Gottox <Gottox@users.noreply.github.com>
Enno Boland <g@s01.de> Gottox <gottox@noreply.codeberg.org>
